/* -------------------->>> COMMON <<<-------------------- */
html {
  background-color: $color-white;
  box-sizing: border-box;
  color: black;
  font-family: $font-arial;
  font-size: $font-base;
  line-height: 1.5;
  transform: scale(0.5);
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

img {
  vertical-align: top;
}

a {
  color: red;
  text-decoration: none;

  &:hover {
  }
}
