/* ========== COMMON ========== */

html {
  box-sizing: border-box;
  font: {
    family: $font-arial;
    size: $font-base;
  }
  line-height: 1.5;
  background-color: $color-white;
  color: black;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

img {
  vertical-align: top;
}

a {
  color: red;
  text-decoration: none;

  &:hover {
  }
}
