/* common */
body {
  background-color: #fff;
  color: #000;
  font-family: serif;
  font-size: 16px;
}

/* img */
img {
  vertical-align: top;
}

/* hyperlink */
a {
  color: #c00;
  text-decoration: none;
}
a:hover {
  color: #000;
}

/* form */
input[type="text"],
input[type="email"],
textarea {
  appearance: none;
  outline: none;
}

.borderradius input,
.borderradius textarea,
.borderradius button {
  border-radius: 0;
}
.boxshadow input,
.boxshadow textarea,
.boxshadow button {
  box-shadow: none;
}
.boxsizing input,
.boxsizing textarea,
.boxsizing button {
  box-sizing: border-box;
}

/* transition */
.csstransitions a,
.csstransitions input,
.csstransitions textarea,
.csstransitions button {
  transition: background-color .3s ease-out, color .3s ease-out;
}

/* container */
.container {
  margin-left: auto;
  margin-right: auto;
}

/* header */
.header {}

/* footer */
.footer {}

/* main */
.main {}
