/* common */
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

img {
  vertical-align: top;
}

a {
  color: #c00;
  text-decoration: none;
}
a:hover {
  color: #000;
}

/* container */
.container {
}

/* header */
.header {
}

/* footer */
.footer {
}

/* main */
.main {
}
